@media(max-width: 1400px){
    .hsec1 .content .col1, .col2 {
        flex-basis: 49%;
    }
    .hsec1 .con_width, .hsec2 .con_width, .hsec3 .con_width, .hsec4 .con_width, .hsec5 .con_width, .hsec6 .con_width, .hsec7 .con_width, .hsec8 .con_width, .hsec9 .con_width{
        padding-left: 100px;
        padding-right: 100px;
    } 
    /**************************** Home Page COmplated  *********************************/
    .wsec1 {
        padding: 200px 100px;
    }
    .wsec1 .content {
        width: 70%;
    }
    .wsec2 {
        padding: 50px 100px;
    }
    .wsec3 {
        padding: 50px 100px;
    }
    .wsec4, .wsec6 {
        background: #e4f5ed;
        padding: 0 100px;
    }
    .wsec5 {
        padding: 0 100px;
    }
    .wsec9 {
        padding: 100px;
    }
    .wsec10 {
        padding: 100px;
    }
    /* **************** workplace page complated ****************** */
    .gsec2 {
        padding: 50px 100px;
    }
    /* **************** government page complated ****************** */
    .sppsec1 {
        padding: 200px 100px 100px;
    }
    .sppsec2 {
        padding: 100px;
    }
    .related_course {
        padding: 0px 100px 50px !important;
    }
    /* *********** single post page done ******************* */
    .coures_sec1 {
        padding: 150px 100px 20px;
    }
    .coures_post {
        padding: 0px 100px 50px;
    }
    /* ************all coures page done */
    .individual_sec1 {
        padding: 150px 100px 50px;
    }
    /* ****************** invidual page done ***************** */
    #contact_page {
        padding: 150px 100px 100px;
    }
    /* ***************** contact page done **************** */
    .no_content {
        margin: 0 100px;
    }
    #content .title{
        padding-left: 100px;
    }
    /* ***************terms $ condition page done */

}
/***desktop width***/
@media(max-width: 1200px){

    .hsec1 .con_width{
        padding: 150px 50px 50px;
        align-items: flex-start;
    }
    .hsec2 .con_width{
        padding: 50px 50px;
    }
    .hsec3 .con_width{
        padding: 50px 50px;
    }
    .hsec4 {
        margin: 50px 0px;
    }
    .hsec4 .con_width{
        padding-left: 0;
        padding-right: 0;
        padding: 50px;
    }
    .hsec5 .con_width{
        padding: 0 50px;
    }
    .hsec6 .con_width{
        padding-left: 0;
        padding-right: 0;
        padding: 50px;
    }
    .hsec7 .con_width{
        padding: 0 50px;
    }
    .hsec7 .con_width .images img {
        flex-basis: 15%;
        width: 15%;
    }
    .hsec8 .con_width {
        padding: 0px 50px;
    }
    .hsec9 .con_width{
        padding: 0;
    }
    .hsec8 {
        margin: 50px 0;
    }
    .fsec10 {
        padding: 20px 50px;
    }
    .fsec10 .col3 {
        display: flex;
        justify-content: flex-end;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
    }
    .fsec10 .col3 a {
        margin-right: 20px;
    }
    /**************************** Home Page COmplated  *********************************/
    .wsec1 {
        padding: 200px 50px;
    }
    .wsec1 .content {
        width: 80%;
    }
    .wsec2 {
        padding: 50px 50px;
    }
    .wsec3 {
        padding: 50px 50px;
    }
    .wsec4, .wsec6 {
        padding: 0 50px;
    }
    .wsec5 {
        padding: 0 50px;
    }
    .hsec2 .con_width {
        padding: 0px 50px;
    }
    .wsec9 {
        padding: 50px;
    }
    .wsec10 {
        padding: 50px;
    }
    /* **************** workplace page complated ****************** */
    .gsec2 {
        padding: 50px 50px;
    }
    /* **************** government page complated ****************** */
    .sppsec1 {
        padding: 200px 50px 100px;
    }
    .sppsec2 {
        padding: 50px;
    }
    .related_course {
        padding: 0px 50px 50px !important;
    }

    /* *********** single post page done ******************* */
    .coures_sec1 {
        padding: 150px 50px 20px;
    }
    .coures_post {
        padding: 0px 50px 50px;
    }
    /* ************all coures page done */
    .individual_sec1 {
        padding: 150px 50px 50px;
    }
    /* ****************** invidual page done ***************** */
    #contact_page {
        padding: 150px 50px 100px;
    }
    /* ***************** contact page done **************** */
    .no_content {
        margin: 0 50px;
    }
    #content .title{
        padding-left: 50px;
    }
    /* ***************terms $ condition page done */
    .cart-sec1 {
        padding: 150px 50px 100px;
        min-height: 100vh;
        background: #f9f9f9;
    }
    
}
/***laptop width***/
@media(max-width: 992px){

    .hsec1 .content {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    .hsec1 .content .col1{
        margin-top: 25px;
    }
    .hsec1 .content .col1, .hsec1 .content .col2 {
        flex-basis: 100%;
    }
    .hsec2 {
        margin: 50px 0;
    }
    .hsec2 .content {
        width: 100%;
    }
    .hsec2 .post, .hsec5 .post {
        flex-wrap: wrap;
    }
    .hsec2 .post .post_content, .hsec5 .post .post_content {
        flex-basis: 48%;
    }
    .hsec3 .content img {
        width: 35px;
    }
    .hsec4 {
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .hsec4 .con_width {
        margin: 50px 0px;
        padding: 50px;
    }
    .hsec4 .video {
        flex-basis: 49%;
    }
    .hsec4 .content {
        flex-basis: 49%;
    }
    .hsec6 {
        align-items: stretch;
        flex-direction: column;
    }
    .hsec6 .sec6_img img {
        margin-bottom: 25px;
    }
    .hsec8 .card .content {
        padding: 10px;
    }
    .hsec8 .card .content img{
        width: 50px;
    }
    .fsec10 .col3 {
        justify-content: flex-end;
    }
    .hsec4 {
        align-items: center;
    }
    /**************************** Home Page COmplated  *********************************/
    .wsec1 .content {
        width: 100%;
    }
     /* **************** workplace page complated ****************** */
     video{
        width: 650px;
        height: auto;
    }
    .coures_post .con_width {
        flex-direction: column;
    }
    .coures_post .con_width .all-coures.active{
        flex-basis: 100%;
    }
    .coures_post .con_width .search_option{
        display: none;
        flex-basis: 0%;
        overflow: hidden;
        transition: .2s;
    }
    .coures_post .con_width .search_option.active{
        flex-basis: 100%;
        overflow: hidden;
        display: block;
        width: 100%;
    }
    /* ************all coures page done */
    .individual_sec1 .content .card {
        flex-basis: 48%;
    }
    /* ****************** invidual page done ***************** */
    .cart-sec1 .con_width .content .row2 {
    flex-direction: column;
    }
    .cart-sec1 .con_width .content .row2 .col1{
    flex-basis: 100%;
    margin-bottom: 20px;
    }
    .cart-sec1 .con_width .content .row2 .col2{
    flex-basis: 100%;
    width: 100%;
    }
    .checkout_sec1 .con_width {
        background: #fff;
        padding: 20px;
    }
    .checkout_sec1 .con_width .content .row2 p {
        font-size: 1.7rem;
    }

}
/***tab width***/
@media(max-width: 768px){
    /* header css */
    .header {
        padding-top: 15px;
    }
    .header-dash .shopping-cart{
        display: none;
    }
    .header-dash .responsive_menu_show{
        display: block;
        font-size: 30px;
    }
    .responsive_header.active {
        right: 0%;
    }
    .responsive_header .check_search i {
        font-size: 30px;
    }
    .header-content p {
        display: none;
    }
    .responsive_header-content p {
        padding: 0px 10px !important;
        
    }
    .header-dash button {
        font-size: 25px;
    }
    .header-dash .responsive_menu_show{
        display: block;
    }
    .header-dash .responsive_menu_show.active{
        display: none;
    }
    .header-dash .menu-close.active{
        display: block;
    }
    /* header end */
    .hsec1 .content h1, .hsec2 .content h1, .hsec5 .content h1, .hsec6 .content h1 {
        font-size: 40px;
    }
    .hsec2 {
        padding: 0;
    }
    .hsec3 .con_width{
        flex-direction: column;
    }
    .hsec3 .con_width {
        padding: 50px 50px 0;
    }
    .hsec3 .content img {
        width: 60px;
    }
    .hsec3 .content {
        padding-bottom: 20px;
    }
    .hsec4 .con_width{
        flex-direction: column-reverse;
    }
    .hsec4 .content{
        flex-basis: 100%;
    }
    .hsec4 .video{
        flex-basis: 100%;
    }
    .hsec6 .con_width{
        flex-direction: column;
    }
    .hsec7 h1 {
        font-size: 40px;
    }
    .hsec8 .card {
        flex-direction: column;
    }
    .hsec8 .card .content {
        padding: 20px;
        margin-bottom: 20px;
    }
    .hsec8 .card {
        padding-bottom: 0px;
    }
    .hsec9 .card {
        flex-direction: column;
    }
    .hsec9 .card .content {
        margin-bottom: 20px;
    }
    .fsec10 {
        flex-wrap: wrap;
    }
    .fsec10 .col1 {
        flex-basis: 49%;
    }
    .fsec10 .col2 {
        flex-basis: 49%;
    }
    .fsec10 .col2 {
        justify-content: flex-end;
    }
    .fsec10 .col3 {
        flex-basis: 100%;
    }
    .fsec10 .col3 {
        justify-content: space-between;
        align-content: center;
        flex-wrap: nowrap;
        margin-top: 20px;
    }
    .fsec10 {
        padding: 20px 15px;
    }
    /**************************** Home Page Complated  *********************************/
    .wsec3 .con_width {
        flex-direction: column-reverse;
    }
    .wsec3 .images {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .wsec3 .content {
        flex-basis: 100%;
    }
    .wsec4 .con_width {
        flex-direction: column-reverse;
    }
    .wsec4 .images {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .wsec4 .images img{
        width: 100vh;
    }
    .wsec4 .content {
        flex-basis: 100%;
    }
    .wsec5 .con_width {
        flex-direction: column;
    }
    .wsec5 .video {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .wsec5 .content {
        flex-basis: 100%;
    }
    .wsec6 .con_width {
        flex-direction: column-reverse;
    }
    .wsec8 .con_width {
        flex-direction: column;
    }
    .wsec6 .images {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .wsec6 .images img{
        width: 100vh;
    }
    .wsec6 .content {
        flex-basis: 100%;
    }
    .wsec9 .content {
        flex-direction: column;
    }
    .wsec9 .content .card{
        margin-bottom: 20px;
    }
    .wsec10 .con_width {
        flex-direction: column;
    }
    .wsec10 .images {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .wsec10 .images img{
        width: 100vh;
    }

     /* **************** workplace page complated ****************** */
     .gsec2 .con_width img {
        width: 35px;
    }
    /* **************** government page complated ****************** */
    video{
        width: 500px;
        height: auto;
    }
    
    #shop_all_coures .coures-show {
        margin-bottom: 50px;
        flex-direction: column;
    }
    /* ************all coures page done */
    #contact_page .content {
        flex-basis: 100%;
        width: 100%;
    }
    /* ******************* contact page done ************ */
    .cart-sec1 .con_width .content {
        background: #fff;
        padding: 10px;
    }
    .cupon_code_update form {
        display: block;
    }
    .cupon_code_update form p {
        margin-bottom: 10px;
    }
    .cupon_code_update {
        align-items: flex-start;
    }
    .checkout_sec1 .con_width .content .row2 .col2 {
        flex-basis: 100%;
        width: 100%;
    }
    .checkout_sec1 .con_width .content .row2 .col1 {
        flex-basis: 100%;
        width: 100%;
    }
    .checkout_sec1 .con_width .content .row2 {
        flex-direction: column;
    }

}
/***fablate width***/
@media(max-width: 576px){
    .hsec1 .content h1, .hsec2 .content h1, .hsec5 .content h1, .hsec6 .content h1 {
        font-size: 35px;
    }
    .container {
        padding: 0 10px;
    }
    .hsec1 .content {
        padding: 100px 20px 50px 20px;
    }
    .hsec1 .content .wordplaces {
        display: flex;
        text-align: center;
        flex-wrap: nowrap;
        align-items: stretch;
        flex-direction: column;
    }
    .hsec1 .content .wordplaces .border1 {
        margin-bottom: 20px;
    }
    .hsec1 .content .wordplaces .border2 {
        margin-bottom: 20px;
    }
    .hsec2 {
        padding: 0px 20px;
    }
    .hsec2 .con_width {
        padding: 0px;
    }
    .hsec2 .post .post_content, .hsec5 .post .post_content {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .hsec3 {
        padding: 50px 20px;
    }
    .hsec3 .con_width {
        padding: 0;
    }
    .hsec4 .con_width {
        padding: 50px 20px;
    }
    .hsec5 {
        padding: 0 20px;
    }
    .hsec5 .con_width {
        padding: 0px;
    }
    .hsec5 .content_description {
        padding: 10px 20px;
    }
    .hsec6 .con_width{
        padding: 50px 20px;
    }
    .hsec6 .content {
        flex-basis: 100%;
    }
    .hsec6 .sec6_img {
        flex-basis: 100%;
    }
    .hsec6 {
        padding: 0;
    }
    .hsec7 {
        padding: 0 20px;
    }
    .hsec7 h1 {
        font-size: 35px;
    }
    .hsec7 .con_width{
        padding: 0;
    }
    .hsec7 .images {
        flex-wrap: wrap;
    }
    .hsec7 .con_width .images img {
        flex-basis: 32%;
        width: 15%;
    }
    .hsec8 .con_width{
        padding: 50px 20px;
    }
    .hsec9 {
        padding: 0;
    }
    .hsec9 .con_width{
        padding: 50px 20px ;
    }
    .fsec10 .col1 {
        flex-basis: 100%;
    }
    .fsec10 .col2 {
        flex-basis: 100%;
    }
    .fsec10 .col3 {
        flex-basis: 100%;
    }
    .fsec10 .col2 {
        justify-content: flex-start;
        margin-top: 20px;
    }
    .fsec10 .col3 {
        display: flex;
        justify-content: flex-start;
        text-align: center;
        flex-direction: row;
        align-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .hsec7 h1 {
        font-size: 40px;
    }
    .hsec6 .content h1 {
        font-size: 40px;
    }
    .hsec2 .content h1, .hsec5 .content h1 {
        font-size: 40px;
    }
    .hsec1 .content h1 {
        font-size: 40px;
    }

    /**************************** Home Page COmplated  *********************************/
    .wsec1 {
        padding: 150px 20px 50px;
    }
    .wsec2 {
        padding: 50px 20px;
    }
    .wsec3 {
        padding: 50px 20px;
    }
    .wsec4, .wsec6 {
        padding: 0 20px;
    }
    .wsec4 .images img {
        width: 100%;
    }
    .wsec5 {
        padding: 0 20px;
    }
    .wsec6 .images img {
        width: 100%;
    }
    .wsec9 {
        padding: 50px 20px;
    }
    .wsec10 {
        padding: 50px 20px;
    }
    /* **************** workplace page complated ****************** */
    .gsec2 {
        padding: 0px 20px;
    }

    .gsec2 .con_width {
        flex-direction: column;
    }
    .gsec2 .con_width div{
        flex-basis: 98%;
        margin-bottom: 20px;
    }
    .gsec2 .con_width img {
        width: 40px;
    }
  /* **************** government page complated ****************** */
  .sppsec1 {
    padding: 200px 20px 100px;
}
.sppsec1 .con_width {
    flex-direction: column;
}
.sppsec1 .content a, .all-coures .content .take-btn {
    display: block;
}
.sppsec2 {
    padding: 50px 20px;
}
.related_course {
    padding: 0px 20px 50px !important;
}
.individual_sec1 .content {
    flex-direction: column;
}
.coures_sec1 {
    padding: 150px 20px 20px;
}
.coures_post {
    padding: 0px 20px 50px;
}
.all-coures .search_menu .search_tag_input {
    flex-direction: column;
}
/* ************all coures page done */
.individual_sec1 .content .card {
    flex-basis: 100%;
}
.individual_sec1 {
    padding: 150px 20px 50px;
}
video {
    width: 100%;
    height: auto;
}
/******************* invidual page done ******************/
#contact_page {
    padding: 150px 20px 100px;
}
/* ***************** contact page done **************** */
.no_content {
    margin: 0 20px;
    padding: 15px;
}
#content .title{
    font-size: 35px;
    padding: 20px;
}
/* ***************terms $ condition page done */
.cart-sec1 {
    padding: 150px 20px 100px;
}
.cupon_code_update form {
    display: inline-block;
    flex-basis: 100%;
}
.cupon_code_update {
    flex-direction: column;
}
.checkout_sec1 {
    padding: 150px 20px 100px;
    min-height: 100vh;
    background: #f9f9f9;
}
.checkout_sec1 .con_width .content .row4 div{
    padding: 0px 10px 20px;
}
}
/***phone width***/